<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zing.ablue">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".welcome.activity.WelcomeActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen">

            <!-- <activity -->
            <!-- android:name=".testHttp.activities.TestPageActivity" -->
            <!-- android:noHistory="true" -->
            <!-- android:theme="@style/Theme.AppCompat"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:noHistory="true"
            />
        <activity android:name=".mainpage.activity.MainPageActivity"
            android:theme="@style/AppBaseTheme"></activity>
    </application>

</manifest>